@model Dekorasyoncunuz.Models.Dekorasyon

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dekorasyon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dekorasyon_fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dekorasyon_fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dekorasyon_isim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dekorasyon_isim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dekorasyon_cinsi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dekorasyon_cinsi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dekorasyon_marka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dekorasyon_marka)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Dekorasyon_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
